@model Escuela

@{
    ViewData["Title"] = "Informacion de la escuela";
    Layout="_MyLayout";
}

<h1>@ViewData["Title"]</h1>
<h2>Nombre:@Model.Nombre</h2>
<p><strong>Año de fundación:@Model.AñoDeCreación</strong></p>
<h3>Tipo de Escuela: @Model.TipoEscuela</h3>
<address>
    <p>Dirreción:@Model.Dirección</p>
    <p>País:@Model.Pais</p>
    <p>Ciudad:@Model.Ciudad</p>
</address>

<p><i>@ViewBag.informacionAdicional</i></p>