@model ObjetoEscuelaBase

@{
    ViewData["Title"] = "Informacion del Alumno";
    Layout="_MyLayout";
}

<h1>@ViewData["Title"]</h1>
<strong>Informacion desde la vista normal</strong>
<p>
Nombre:@Model.Nombre </br>
Id:@Model.Id
</p>
<strong>Informacion desde la vista parcial</strong>
<partial name="../Parcial/ObjetoEscuelaBase.cshtml"/>



<p><i>@ViewBag.informacionAdicional</i></p>