@model List<Alumno>

@{
    ViewData["Title"] = "Informacion de todos los Alumnos";
    Layout="_MyLayout";
}

<h1>@ViewData["Title"]</h1>
<partial name="../Parcial/TablaObjetoEscuelaBase.cshtml" model="Model"/>


<p><i>@ViewBag.informacionAdicional</i></p>