@model List<Asignatura>

@{
    ViewData["Title"] = "Informacion de todas las Asignatura";
    Layout="_MyLayout";
}

<h1>@ViewData["Title"]</h1>
@foreach(var asignatura in Model){
    <partial name="../Asignatura/Parcial/Asignatura.cshtml" model="asignatura"/>
}


<p><i>@ViewBag.informacionAdicional</i></p>